{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block content %}

	<div class="container">
		{% include "home/shared/_card.html.twig" with { cards: cards } %}
	</div>
{% endblock %}
