security:
  enable_authenticator_manager: true

  providers:
    ldap_user_provider:
      id: App\Security\LdapUserProvider

  firewalls:
    main:
      lazy: true
      stateless: false
      provider: ldap_user_provider
      custom_authenticator: App\Security\LdapAuthenticator
      entry_point: App\Security\LdapAuthenticator
      logout:
        path: app_logout
        target: app_login

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: IS_AUTHENTICATED_FULLY }
