#intro {
    height: 100vh;
}

#Logo {
    margin-left: 10%;
    margin-bottom: 5%;
}

.notice {
    background-color: #fbbb01;
    border-left: 4px solid #000000;
    padding: 10px 15px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.notice-icon {
    margin-right: 10px;
    color: #000000;
    font-size: 24px;
}

.notice-content {
    flex: 1;
}

.input-group #password.form-control {
    border-right: none;
}

.input-group .input-group-text {
    border-left: none;
    width: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-group .form-control:focus {
    z-index: 3;
}