<footer class=" mt-4 pb-3" style="background: #212529">
	<hr>
	<p class="text-center text-white m-0">&copy; 2024 hffintranet</p>
	<div class="d-flex justify-content-center">
		<a href="{{ path("home_index")}}"><img src="{{ webpack_asset('build/images/logoHFF.jpg') }}" alt="Logo HFF" class="img-fluid" width="150px"/></a>
	</div>
</footer>
