{# templates/partials/flash_messages.html.twig #}
{% set flashMessages = [] %}
{% for label, messages in app.flashes %}
	{% for message in messages %}
		{% set flashMessages = flashMessages|merge([{type: label, message: message}]) %}
	{% endfor %}
{% endfor %}

{% if flashMessages|length > 0 %}
	<div data-controller="common--flash" data-common--flash-messages-value="{{ flashMessages|json_encode }}"></div>
{% endif %}
