<form method="post" action="{{ path('app_admin_historisation_type_document_delete', {'id': type_document.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_document.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
