{% extends 'base.html.twig' %}

{% block title %}New TypeDocument
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Create new TypeDocument</h1>

		{{ include('admin/historisation/type_document/_form.html.twig') }}

		<a href="{{ path('app_admin_historisation_type_document_index') }}" class="btn btn-secondary my-3">Retour à la liste</a>
	</div>
{% endblock %}
