<turbo-frame id="form-{{ user_access.id }}">
    <tr>
        <td colspan="8">
            {{ include('admin/personnel_user/userAccess/_form.html.twig', {'button_label': 'Update'}) }}
        </td>
    </tr>
</turbo-frame>
