<form method="post" action="{{ path('admin_agence_service_delete', {'id': agence_service.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence_service.id) }}">
    <button class="btn">Delete</button>
</form>
