{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="card p-3 mt-3">
			<div
				class="card-body">
				<!-- ... autres éléments ... -->

				{{ form_start(form, {
                'attr': {
                    'data-controller': 'agence-selector',
                    'id': 'dom_form2'
                }
            })}}
<!-- Section agence/service avec controller séparé -->
				<div class="row" data-controller="agence-selector" data-dom-form-target="agenceServiceSection">
					<div class="col-md-6">
						{{ form_row(form.debiteur.agenceDebiteur, {
                        'attr': {
                            'data-agence-selector-target': 'agence',
                            'data-action': 'change->agence-selector#onAgenceChange'
                        }
                    }) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.debiteur.serviceDebiteur, {
                        'attr': {
                            'data-agence-selector-target': 'service'
                        }
                    })}}
					</div>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
