monolog:
    handlers:
        main:
            type: fingers_crossed
            action_level: error
            handler: nested
            excluded_http_codes: [404, 405]
            buffer_size: 50
        nested:
            type: stream
            path: "php://stderr"
            level: debug
            formatter: monolog.formatter.json
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]
        # Handler pour envoyer les erreurs par email
        symfony_mailer:
            type: symfony_mailer
            from_email: 'noreply@votredomaine.com'
            to_email: ['%env(ADMIN_EMAIL)%']
            subject: 'HFF - Erreur Application :: %%message%%'
            level: error
            formatter: symfony.mailer.html_formatter
            content_type: text/html
