{% extends 'base.html.twig' %}

{% block title %}Edit Personnel{% endblock %}

{% block content %}
    <h1>Edit Personnel</h1>

    {{ include('admin/personnel_user/personnel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_personnel_user_personnel_index') }}">back to list</a>

    {{ include('admin/personnel_user/personnel/_delete_form.html.twig') }}
{% endblock %}
