.perso-titre {
  color: white;
  background-color: var(--dark-bg);
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.titre {
  color: #0e4194;
}

.sousTitre h3 {
  color: #0e4194;
  font-weight: bold;
}

.sousTitre div {
  width: 100%;
  height: 15px;
  background-color: #0e4194;
  border-radius: 2px;
  margin-top: 10px;
  border: none;
}

.sosuTitreGiser h3 {
  color: #aaa;
  font-weight: bold;
}

.sosuTitreGiser div {
  width: 100%;
  height: 15px;
  background-color: #aaa;
  border-radius: 2px;
  margin-top: 10px;
  border: none;
}