# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

imports:
  - { resource: 'services/*.yaml' }
  - { resource: 'services/migration.yaml' }
  - { resource: 'services/delete.yaml' }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  app.timezone: 'Etc/GMT-3'
  env(LDAP_HOST): "192.168.0.1"
  documents_directory: '%kernel.project_dir%/public/uploads'
  docuware_directory: 'C:\DOCUWARE'
  app.constructeurs.pieces_magasin: ""
  app.constructeurs.achat_locaux: ""
  app.constructeurs.lub: ""
  app.constructeurs.pneumatique: ""

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    bind:
      $projectDir: '%kernel.project_dir%'

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: "../src/"
    exclude:
    - "../src/DependencyInjection/"
    - "../src/Entity/"
    - "../src/Kernel.php"

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones

  _instanceof:
    App\Contract\Navigation\BreadcrumbBuilderInterface:
      tags: [ 'app.breadcrumb_builder' ]

  App\Service\Navigation\ContextAwareBreadcrumbBuilder:
    arguments:
    - !tagged_iterator app.breadcrumb_builder

  App\Model\DatabaseInformix:
    arguments:
      $logger: "@logger"

  App\Security\LdapUserProvider:
    arguments:
      $ldap: '@Symfony\Component\Ldap\Ldap'
      $baseDn: "DC=fraise,DC=hff,DC=mg"
      $uidKey: "sAMAccountName"
      $defaultRoles: "ROLE_USER"
      $searchDn: "%env(resolve:LDAP_SEARCH_DN)%"
      $searchPassword: "%env(resolve:LDAP_SEARCH_PASSWORD)%"

  Symfony\Component\Ldap\Ldap:
    factory: [ 'Symfony\Component\Ldap\Ldap', "create" ]
    arguments:
    - ext_ldap
    - { host: "%env(resolve:LDAP_HOST)%", port: 389, encryption: none, options: { protocol_version: 3, referrals: false } }

  Symfony\Component\Ldap\LdapInterface: '@Symfony\Component\Ldap\Ldap'

  App\Security\LdapAuthenticator:
    arguments:
      $ldap: '@Symfony\Component\Ldap\Ldap'
      $router: "@router"
      $searchDn: "%env(resolve:LDAP_SEARCH_DN)%"
      $searchPassword: "%env(resolve:LDAP_SEARCH_PASSWORD)%"

  App\Security\ApiJsonAuthenticator:
    arguments:
      $ldap: '@Symfony\Component\Ldap\Ldap'
      $userProvider: '@App\Security\LdapUserProvider'
      $searchDn: "%env(resolve:LDAP_SEARCH_DN)%"
      $searchPassword: "%env(resolve:LDAP_SEARCH_PASSWORD)%"
      $baseDn: "DC=fraise,DC=hff,DC=mg"
      $uidKey: "sAMAccountName"
      $successHandler: '@App\Security\JwtAuthenticationSuccessHandler'

  # extension twig pour l'asset des images
  App\Twig\WebpackAssetExtension:
    tags: [ "twig.extension" ]

  App\Service\LdapService:
    arguments:
      $searchDn: "%env(resolve:LDAP_SEARCH_DN)%"
      $searchPassword: "%env(resolve:LDAP_SEARCH_PASSWORD)%"

  Parsedown:
    class: Parsedown
    public: true



  App\Logger\UserProcessor:
    tags:
        - { name: monolog.processor, channel: dom_first_form }
        - { name: monolog.processor, channel: dom_second_form }

  monolog.formatter.user_log:
    class: Monolog\Formatter\LineFormatter
    arguments:
        - "[%%datetime%%] [User: %%extra.user_email%%] %%channel%%.%%level_name%%: %%message%% %%context%% %%extra%%\n----------------------------------------------------------------------------------------------------\n"
        - 'Y-m-d H:i:s'
        - true # allowInlineLineBreaks
        - true # ignoreEmptyContextAndExtra

  App\Logger\NotifierHandler:
    arguments:
        $notifier: '@notifier'
        $adminEmail: '%env(ADMIN_EMAIL)%'

  # Configuration explicite pour AgenceSerializerService
  App\Service\Admin\AgenceSerializerService:
    arguments:
      $agenceRepository: '@App\Repository\Admin\AgenceService\AgenceRepository'
      $serializer: '@serializer'
      $cache: '@cache.app'
      $logger: '@monolog.logger'

  # Listener pour définir automatiquement createdBy lors de la création d'entités
  App\EventListener\CreatedByListener:
    tags:
      - { name: doctrine.event_listener, event: prePersist }

  App\Controller\DocumentationController:
    arguments:
      $projectDir: '%kernel.project_dir%'
