/* ========================================================================= */
/* GENERALES */
/* ========================================================================= */

@media print {

  html,
  body {
    height: auto !important;
    overflow: visible !important;
  }

  #fil-d-ariane {
    position: sticky !important;
  }
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  background-color: #f8f9fa;
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-size: 0.6875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.main-content {
  min-height: 90%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

a,
select,
input,
button,
textarea,
span {
  font-size: 0.6875rem !important;
}

nav {
  font-size: 0.6975rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1rem !important;
}

label {
  font-weight: bold;
  margin-top: 5px;
}

.color {
  background-color: #fbbb01;
}

.perso-titre {
  color: white;
  background-color: #212529;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

/* ========================================================================= */
/* LOADING OVERLAY */
/* ========================================================================= */

#loading-overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-overlay {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #fbbb01;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
}

/* ========================================================================= */
/* BREADCRUMB */
/* ========================================================================= */

#fil-d-ariane {
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 0;
}

.breadcrumb-item {
  font-size: 0.8rem;
}

.breadcrumb-item a {
  color: #6c757d;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #fbbb01;
}

.breadcrumb-item.active {
  color: #495057;
  font-weight: 500;
}

/* Style de base pour le footer */
.footer {
  padding: 20px 0;
  margin-top: auto;
}

/* ========================================================================= */
/* DROPDOWN */
/* ========================================================================= */
.dropdown-grid {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: repeat(var(--col-count, 1), 1fr);
  align-items: start;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.dropdown-line {
  min-height: 109px;
  margin-bottom: 1rem;
}

.dropdown-header {
  color: #616161;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  /* color: #fff; */
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #fdc7149f;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  color: #dee2e6; /* Couleur de texte claire pour le thème sombre */
  border-radius: 0.25rem;
  transition: all 0.2s ease;
  margin: 0.15rem 0;
}

.dropdown-item:hover {
  background-color: #fdc714 !important; /* Orange vif */
  color: #000 !important;
  font-weight: bold;
  transform: translateX(3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover i {
  animation: itemPulse 0.5s ease;
}

@keyframes itemPulse {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.dropdown-hover .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* juste en dessous du lien */
  left: 0;
  z-index: 1000;
  background: white;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

.dropdown-menu {
  background-color: #000;
}