/* ===== BASE STYLES ===== */
/* Optionnel : si vous n'utilisez pas Bootstrap */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light-bg);
  font-family: "Noto Sans Nandinagari", sans-serif;
  font-size: var(--base-font-size);
}

main {
    flex: 1; /* Prend tout l'espace disponible */
}

/* Style de base pour le footer */
.footer {
    // background: #f8f9fa;
    padding: 20px 0;
    margin-top: auto; /* S'assure qu'il reste en bas */
}

a,
select,
input,
button,
textarea,
span {
  font-size: var(--base-font-size) !important;
}

nav {
  font-size: 0.6975rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1rem !important;
}

label {
  font-weight: bold;
  margin-top: 5px;
}