@use "variables";
@use "base";
@use "components/title";
@use "components/tom-select";
@use "components/navigation";
@use "components/chronometer";
@use "components/sidebar";
@use "components/dropdown-grid";
@use "components/breadcrumb";
@use "components/navbar_hover_dropdown";
@import "./pages/erreur/erreur.css";
/* @import "./accueil.scss"; */

/* ===== IMPORTS ===== */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~tom-select/dist/css/tom-select.bootstrap5.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Nandinagari&display=swap");

.enteteAccordion {
  background-color: #fbbb01 !important;
  color: #212529 !important;
  font-size: 0.75rem !important;
}