{% extends 'base.html.twig' %}

{% block title %}Liste des Ordres de Mission
{% endblock %}

{% block content %}
	    <div class="container-fluid">
	        {% include 'partials/flash_messages.html.twig' %}
	
	        <h1>Liste des Ordres de Mission</h1>
		<p>
			Le contenu de la liste des ordres de mission apparaîtra ici.
		</p>
	</div>
{% endblock %}
