.a_affecter {
    background-color: red ! important;
    font-weight: bold;
}

.affectee_section {
    background-color: #ff8d00 ! important;
    font-weight: bold;
}

.cloturee_annulee {
    background-color: grey ! important;
    font-weight: bold;
    color: #fff ! important;
}

.cloturee_validee {
    background-color: #00800099 !important;
    font-weight: bold;
}

.terminee {
    background-color: blue ! important;
    font-weight: bold;
    color: #fff ! important;
}

.cloturee_hors_delai {
    background-color: orange ! important;
    font-weight: bold;
}