{% extends "base.html.twig" %}

{% block title %}
	Soumission OR
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}


{% block content %}
	<div class=" container mt-6 mb-4" data-controller="pages--hf--atelier--dit--dit-form">
		<div class="card">
			<div class="card-body">
				<div class="container">
					BONJOUR
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
