<!DOCTYPE html>
<html lang="fr">

	<head>
		{% block head %}
			<meta charset="utf-8">


			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
			{% endblock %}

			<link href="{{ asset('build/images/favicon.jpg') }}" type="image/x-icon" rel="shortcut icon">
			<title>
				HFF Intranet |
				{% block title %}{% endblock %}
			</title>
		{% endblock %}
	</head>

	<body data-turbo-suppress-warning>
		<div id="loading-overlays">
			<div class="spinner-overlay"></div>
			<div class="text-overlay text-white">Veuillez patienter s'il vous plaît!</div>
		</div>
		{% block overlay %}{% endblock %}
		<div class="main-content">
			{% block nav %}
				{% include 'partials/_navbar.html.twig' %}
				{% include 'partials/_breadcrumb.html.twig' with { breadcrumb: breadcrumb } %}
			{% endblock %}

			<div class="container">
				{% block bandeau %}
					<!-- Bandeau sur la page d'accueil -->
				{% endblock %}


				{% block content %}{% endblock %}
			</div>
		</div>

		{# {% include "partials/_footer.html.twig" %} #}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>

</html>
