{% extends "base.html.twig"%}

{% block title %}
	404 not found
{% endblock %}

{% block nav %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block content %}
	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Page non trouvée</h2>
			<p>La page que vous recherchez a peut-être été supprimée, renommée ou est temporairement indisponible.</p>
			<a href="{{ path("app_home") }}">
				<i class="fas fa-arrow-left-long pe-2"></i>
				Accueil
			</a>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %} 