{% extends "base.html.twig"%}

{% block title %}
	403 access forbidden
{% endblock %}

{% block nav %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block content %}
	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>403</h1>
			</div>
			<h2>Accès interdit</h2>
			<p>Vous n’avez pas les droits nécessaires pour accéder à cette page.
				<br>
				Veuillez contacter un administrateur.</p>
			<a href="{{ path("home_index") }}">
				<i class="fas fa-arrow-left-long pe-2"></i>
				Accueil
			</a>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
