{% extends 'base.html.twig' %}

{% block title %}New AgenceServiceIrium{% endblock %}

{% block body %}
    <h1>Create new AgenceServiceIrium</h1>

    {{ include('admin/agenceService/agence_service_irium/shared/_form.html.twig') }}

    <a href="{{ path('admin_agence_service_index') }}">back to list</a>
{% endblock %}
