{% extends 'base.html.twig' %}

{% block title %}New AgenceService{% endblock %}

{% block body %}
    <h1>Create new AgenceService</h1>

    {{ include('agence_service/shared/_form.html.twig') }}

    <a href="{{ path('admin_agence_service_index') }}">back to list</a>
{% endblock %}
