{% extends 'base.html.twig' %}

{% block title %}Documentation des Voters{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                {{ htmlContent|raw }}
            </div>
        </div>
    </div>
{% endblock %}
